<app-nav></app-nav>
<br>
<br>
<app-add-route></app-add-route>


<!-- <<div class="container">
  <form class="needs-validation" action="users/register" method="POST">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" name="first_name" id="" placeholder="" value="" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" name="last_name" id="" placeholder="" value="" required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">Email adress</label>
        <input type="email" class="form-control" name="email" id="" placeholder="" value="" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">Password</label>
        <input type="text" class="form-control" name="password" id="" placeholder="" value="" required>
      </div>
    </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg" type="submit" name="submit">Confirm</button>
  </form>
</div>> -->